// отступы безопасности для контейнера
$main-offset: 15;

$page-max-width: 1920;
$page-min-width: 320;

$container-max-width: 1200;
$container-width: $container-max-width - ($main-offset * 2);

$header-height: 50;
$header-height-stickly: 50;
$footer-height: 100;

// Media Breackpionts
$mediabr-bstrp-xsm: 320;
$mediabr-bstrp-sm: 576;
$mediabr-bstrp-md: 768;
$mediabr-bstrp-lg: 992;
$mediabr-bstrp-xl: 1200;
$mediabr-bstrp-xxl: 1400;

$path-images: "./images";
